html { 
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'MedievalSharp', cursive;
}

body {
	height: 100vh;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.65;
	font-family: 'Lato', sans-serif;
}

header,
main {
	margin-left: auto;
	margin-right: auto;
}

header img,
#results img {
	display: block;
	margin: 20px auto;
	width: 170px;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

#results img {
	width: 80px;
}

textarea {
	resize: none;
	width: 95.7%;
  padding: 10px;
  height: 17px;
	margin-top: 10px;
	border: 1px solid grey;
	border-radius: 4px;
	font-size: 1.0rem;
}

button,
input[type="submit"] {
	margin: 5px 0 0;
	padding: 0;
	height: 50px;
	width: 100%;
	background-color: black;
	color: white;
	border-radius: 4px;
	font-size: 1rem;
	text-transform: uppercase;
}

button:hover,
input[type="submit"]:hover {
	cursor: pointer;
	background-color: grey;
	color: white;
}

#js-conversation {
	max-height: 350px;
	max-width: 740px;
	margin: 0 auto;
	padding: 10px;
	background-color: #333;
	border: 1px solid white;
	border-radius: .4em;
	overflow: scroll;
	display: flex;
	flex-direction: column;
}

.message {
	padding: 5px 0;
}

.bot-message,
.user-message {
	display: table;
	position: relative;
	border-radius: .4em;
	font-size: 0.9rem;
	color: #fff;
	padding: 7px 15px 10px;
	margin: 0 auto;
}

.bot-message {
	font-size: 0.9rem;
	background: #564D65;
	text-align: left;
	margin-left: 75px;
}

.bot-message:after {
	content: '';
	position: absolute;
	left: 0;
	top: 20px;
	width: 0;
	height: 0;
	border: 1em solid transparent;
	border-right-color: #564D65;
	border-left: 0;
	border-bottom: 0;
	margin-top: -0.5em;
	margin-left: -1em;
}

.bot-icon,
.user-icon {
	padding-top: 2px;
}

.bot-icon {
	float: left;
	padding-left: 8px;
}

.user-icon {
	float: right;
	margin-bottom: -65px;
	padding-right: 8px;
}

.bot-icon img,
.user-icon img {
	width: 40px;
}

.user-message {
	float: right;
	background: #2CDA9D;
	text-align: right;
	margin-right: 75px;
}

.user-message:after {
	content: '';
	position: absolute;
	right: 0;
	top: 20px;
	width: 0;
	height: 0;
	border: 1em solid transparent;
	border-left-color: #2CDA9D;
	border-right: 0;
	border-bottom: 0;
	margin-top: -0.5em;
	margin-right: -1em;
}

#user-input {
	max-width: 740px;
	margin: 15px auto;
	padding: 20px;
	display: none;
	border-radius: .4em;
	background-color: #fff;
}

#user-flow img {
	display: block;
	margin: 0 auto;
	width: 100%;
  height: auto;
}

#user-flow p::before {
	content: 'Instructions: ';
}

.tags-input {
	width: 100%;
	height: 40px;
  display: inline-block;
}

.tag {
    font-size: 85%;
    padding: 0.5em 0.75em;
    margin: 0.25em 0.1em;
    display: inline-block;
    background-color: #ddd;
    transition: all 0.1s linear;
    cursor: pointer;
}

.tag:hover {
    background-color: #3af;
    color: white;
}

.tag .close::after {
    content: '×';
    font-weight: bold;
    display: inline-block;
    transform: scale(1.4);
    margin-left: 0.75em;
}

.tag .close:hover::after {
    color: red;
}

.main-input {
	display: inline-block;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #333;
  padding: 0.6em 0.5em;
  width: 97%;
}

.main-input:focus {
	background-color: lightgoldenrodyellow;
	box-shadow: none;
	border: 1px solid red;
}

.checkboxlist label {
	display: inline-block;
  text-indent: -5px;
  white-space: nowrap;
  background-color: white;
  color: black;
  border-radius: 4px;
  margin: 1px;
  padding: 4px 11px 5px;
  font-size: 1rem;
}

.checkboxlist label:hover {
	background-color: blue;
	color: white;
}

input.allergy,
input.diet {
	width: 18px;
  height: 18px;
  padding: 0px;
  margin: 5px;
  vertical-align: bottom;
  top: 0px;
}

.checkboxheader {
	font-size: 1.2rem;
  padding: 0.35em 0.25em;
  width: 100%;
}

#results h2 {
	text-align: center;
	font-size: 1.4rem;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 0;
	color: #FFF07C;
}

#js-results {
  margin: 0.5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 20px;
  font-size: 1.0rem;
}

.js-result {
  padding: 15px;
	cursor: pointer;
	background-color: #fcf19f;
	border-radius: .4em;
}

.js-result h3 {
	font-weight: bold;
	font-size: 1.5rem;
	text-transform: uppercase;
}

.js-result img {
	width: 100%;
  height: auto;
  border-radius: .3em;
}

.ingredients {
	list-style: disc inside;
}

#lightbox {
  position:fixed;
  top:0; 
  left:0; 
  width:100%; 
  height:100%; 
  background: rgba(0,0,0,.7);
  overflow: scroll;
}

#lightbox-content {
	position: relative;
	padding: 20px;
	margin-left: auto;
  margin-right: auto;
	width: 90%;
	background: #fff;
}

#lightbox-content h2 {
	font-size: 1.5rem;
	text-transform: uppercase;
}

#lightbox-content img {
	width: 100%;
	height: auto;
}

#lightbox-content ul {
	margin-top: 10px;
	list-style: disc inside;
}

#closeLightbox {
	font-size: 1.9rem;
	font-weight: bold;
  text-align: right;
  cursor: pointer;
  position: fixed;
  padding: 6px 24px;
  left: 85%;
  top: 7%;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  border: 2px solid white;
  border-radius: 30%;
}

.source {
	margin-top: 10px;
}

@media only screen and (min-width: 360px) {
	.checkboxlist label,
	#user-flow,
	.bot-message,
	.user-message,
	#js-results {
		font-size: 1.0rem;
	}
	header img {
		width: 190px;
	}
	#results img {
		width: 90px;
	}
}

@media only screen and (min-width: 375px) {

}

@media only screen and (min-width: 400px) {
	.checkboxlist label,
	#user-flow,
	.bot-message,
	.user-message,
	#js-results {
		font-size: 1.075rem;
	}
	header img {
		width: 200px;
	}
	#results img {
		width: 100px;
	}
}

@media only screen and (min-width: 720px) {
	#user-flow img {
    width: 80%;
	}
	.checkboxlist label,
	#user-flow,
	.bot-message,
	.user-message,
	#js-results {
		font-size: 1.125rem;
	}
	#js-results {
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	}
	#lightbox-content {
		padding: 20px;
		margin-left: auto;
	  margin-right: auto;
		width: 70%;
		background: #fff;
	}
	#closeLightbox {
		font-size: 2.2rem;
	  padding: 6px 28px;
	  left: 80%;
	  top: 3.5%;
	}	
	header img {
		width: 270px;
	}
	#results img {
		width: 110px;
	}
}

@media only screen and (min-width: 920px) {
	.checkboxlist label,
	#user-flow,
	.bot-message,
	.user-message,
	#js-results {
		font-size: 1.2rem;
	}
	#lightbox-content {
		width: 60%;
	}
	#closeLightbox {
	  left: 75%;
	  top: 5%;
	}	
	header img {
		width: 290px;
	}
	#results img {
		width: 115px;
	}
}

@media only screen and (min-width: 1280px) {
	#lightbox-content {
		width: 50%;
	}
	#closeLightbox {
	  left: 71.5%;
	}	
	header img {
		width: 320px;
	}
}

@media only screen and (min-width: 1900px) {
	#lightbox-content {
		width: 40%;
	}
	#closeLightbox {
		left: 67.75%;
    top: 3.6%;
	}	
	header img {
		width: 380px;
	}
	#results img {
		width: 135px;
	}
}