html { 
	background-color: #000;
  background: url(../images/bg.jpg) no-repeat center; 
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'MedievalSharp', cursive;
}

body {
	height: 100vh;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.65;
	font-family: 'Lato', sans-serif;
}

header,
main {
	margin-left: auto;
	margin-right: auto;
}

main {
	overflow: scroll;
}

header img,
#result-head-img {
	display: block;
	margin: 20px auto;
	width: 170px;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

#result-head-img {
	width: 80px;
}

textarea {
	resize: none;
	width: 95.7%;
  padding: 10px;
  height: 17px;
	margin-top: 10px;
	border: 1px solid grey;
	border-radius: 4px;
	font-size: 1.0rem;
}

button,
input[type="submit"] {
	margin: 5px 0 0;
	padding: 0;
	height: 50px;
	width: 100%;
	background-color: #30A945;
	color: white;
	border-radius: 4px;
	font-size: 1rem;
	text-transform: uppercase;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

button:hover,
input[type="submit"]:hover {
	cursor: pointer;
	background-color: #74D585;
	color: white;
}

#js-conversation {
	max-height: 350px;
	max-width: 740px;
	margin: 0 auto;
	padding: 10px;
	background-color: #000000c2;
  border: 3px solid #74d585;
	border-radius: .4em;
	overflow: scroll;
	display: flex;
	flex-direction: column;
}

.message {
	padding: 5px 0;
}

.bot-message,
.user-message {
	display: table;
	position: relative;
	border-radius: .4em;
	font-size: 0.9rem;
	color: #fff;
	padding: 7px 15px 10px;
	margin: 0 auto;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.bot-message {
	font-size: 0.9rem;
	background: #3c3d86;
	text-align: left;
	margin-left: 75px;
}

.bot-message:after {
	content: '';
	position: absolute;
	left: 0;
	top: 20px;
	width: 0;
	height: 0;
	border: 1em solid transparent;
	border-right-color: #3c3d86;
	border-left: 0;
	border-bottom: 0;
	margin-top: -0.5em;
	margin-left: -1em;
}

.bot-icon,
.user-icon {
	padding-top: 2px;
}

.bot-icon {
	float: left;
	padding-left: 8px;
}

.user-icon {
	float: right;
	margin-bottom: -65px;
	padding-right: 8px;
}

.bot-icon img,
.user-icon img {
	width: 40px;
}

.user-message {
	float: right;
	background: #74D585;
	text-align: right;
	margin-right: 75px;
}

.user-message:after {
	content: '';
	position: absolute;
	right: 0;
	top: 20px;
	width: 0;
	height: 0;
	border: 1em solid transparent;
	border-left-color: #74D585;
	border-right: 0;
	border-bottom: 0;
	margin-top: -0.5em;
	margin-right: -1em;
}

#user-input {
	max-width: 740px;
	margin: 15px auto;
	padding: 20px;
	display: none;
	border-radius: .4em;
	background-color: #fff;
}

#user-flow img {
	display: block;
	margin: 0 auto;
	width: 100%;
  height: auto;
}

#user-flow p {
	padding: 5px;
}

#user-flow p::before {
	content: 'Instructions: ';
	font-weight: bold;
}

#user-flow-img {
	width: 100%;
	background-color: #74d585;
	padding: 10px; 
	border-radius: .3em;
}

.tags-input {
	width: 100%;
	height: 40px;
  display: inline-block;
}

.tag {
	color: white;
  font-size: 85%;
  padding: 0.5em 0.75em;
  margin: 0.5em 0.5em 0.75em 0;
  display: inline-block;
  background-color: #abbd81;
  transition: all 0.1s linear;
  border-radius: .4em;
  cursor: pointer;
}

.tag:hover {
  background-color: #e15b64;
}

.tag .close::after {
    content: '×';
    font-weight: bold;
    display: inline-block;
    transform: scale(1.4);
    margin-left: 0.75em;
}

.tag .close:hover::after {
    color: #f8b26a;
}

.main-input {
	display: inline-block;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #333;
  padding: 0.6em 0.5em;
  width: 97%;
}

.main-input:focus {
	background-color: lightgoldenrodyellow;
	box-shadow: none;
	border: 1px solid red;
}

.checkboxlist label {
	display: inline-block;
  text-indent: -5px;
  white-space: nowrap;
  background-color: white;
  color: black;
  border-radius: 4px;
  margin: 1px;
  padding: 4px 11px 5px;
  font-size: 1rem;
}

.checkboxlist label:hover {
	background-color: #abbd81;
	color: white;
}

input.allergy,
input.diet {
	width: 18px;
  height: 18px;
  padding: 0px;
  margin: 5px;
  vertical-align: bottom;
  top: 0px;
}

.checkboxheader {
	font-size: 1.2rem;
  padding: 0.35em 0.25em;
  width: 100%;
}

#results {
	padding: 10px;
}

#results h2 {
	text-align: center;
	font-size: 1.4rem;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 0;
	color: #FFF07C;
}

#js-results {
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 20px;
  font-size: 1.0rem;
}

.js-result {
  padding: 15px;
	cursor: pointer;
	background-color: #fcf19f;
	background-image: url(../images/paper-bg.jpg);
	border-radius: .25em;
	-webkit-transition: -webkit-transform 0.5s ease;
	-moz-transition: -moz-transform 0.5s ease;
	transition: transform 0.5s ease;
}

.js-result h3 {
	font-weight: bold;
	font-size: 1.5rem;
	text-transform: uppercase;
}

.js-result:hover {
	border: 0.5em solid #30A945;
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-o-transform-origin: center;
	transform-origin: center;
}

.js-result p {
	padding-bottom: 5px;
}

.js-result img {
	width: 100%;
  height: auto;
  border-radius: .3em;
}

.clock::before {
	position: relative;
	content:url('../images/clock-25px.svg');
	top: 5px;
  margin-left: 2px;
  margin-right: 10px;
}

.yield::before {
	position: relative;
	content:url('../images/Stack_Personages.svg');
	top: 4px;
	margin-right: 8px;
}

.course::before {
	position: relative;
	content:url('../images/dish-x30.svg');
	top: 8px;
	margin-right: 5px;
}

.ingredients {
	list-style: disc inside;
}

#lightbox {
  position:fixed;
  top:0; 
  left:0; 
  width:100%; 
  height:100%; 
  background: rgba(0,0,0,.7);
  overflow: scroll;
}

#lightbox-content {
	position: relative;
	padding: 20px;
	margin-left: auto;
  margin-right: auto;
	width: 90%;
	background: #fff;
}

#lightbox-content h2 {
	font-size: 1.5rem;
	text-transform: uppercase;
}

#lightbox-content img {
	width: 100%;
	height: auto;
}

#lightbox-content p {
	margin-bottom: 10px;
}

#js-rating-container img.star,
#lightbox-content img.star {
	width: 7%;
	margin-bottom: -1px;
}

#lightbox-content ul {
	margin-top: 10px;
	list-style: disc inside;
}

#lightbox-content ul p {
	font-weight: bold;
}

#closeLightbox {
	font-size: 1.9rem;
	font-weight: bold;
  text-align: right;
  cursor: pointer;
  position: fixed;
  padding: 0px 20px;
  left: 85%;
  top: 7%;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  border: 2px solid white;
  border-radius: 30%;
}

.source {
	margin-top: 10px;
	font-weight: bold;
  font-style: italic;
}

.source a {
	color: #000;
}

img#yummly-logo {
	display: block;
	width: 30% !important;
	margin-top: 7px;
	margin-right: auto;
	margin-left: auto;
	}

.yummly-ref {
	margin-top: 30px;
	font-size: 0.7rem;
}

@media only screen and (min-width: 360px) {
	.checkboxlist label,
	#user-flow,
	.bot-message,
	.user-message,
	#js-results {
		font-size: 1.0rem;
	}
	header img {
		width: 190px;
	}
	#result-head-img {
		width: 90px;
	}
}

@media only screen and (min-width: 375px) {

}

@media only screen and (min-width: 400px) {
	.checkboxlist label,
	#user-flow,
	.bot-message,
	.user-message,
	#js-results {
		font-size: 1.075rem;
	}
	header img {
		width: 200px;
	}
	#result-head-img {
		width: 100px;
	}
}

@media only screen and (min-width: 720px) {
	#user-flow img {
    width: 80%;
	}
	#user-flow p {
		padding: 8px;
	}
	.checkboxlist label,
	#user-flow,
	.bot-message,
	.user-message,
	#js-results {
		font-size: 1.125rem;
	}
	#js-results {
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	}
	#lightbox-content {
		padding: 20px;
		margin-left: auto;
	  margin-right: auto;
		width: 70%;
	}
	#lightbox-content h2 {
		font-size: 1.6rem;
	}
	#js-rating-container img.star {
		width: 6%;
	}
	#lightbox-content img.star {
		width: 4.5%;
	}
	#closeLightbox {
		font-size: 2.2rem;
	  left: 80%;
	  top: 3.5%;
	}	
	img#yummly-logo {
		width: 20% !important;
	}
	header img {
		width: 270px;
	}
	#result-head-img {
		width: 110px;
	}
}

@media only screen and (min-width: 920px) {
	.checkboxlist label,
	#user-flow,
	.bot-message,
	.user-message,
	#js-results {
		font-size: 1.2rem;
	}
	.clock::before {
		top: 3px;
	}
	#lightbox-content {
		width: 60%;
	}
	#lightbox-content h2 {
		font-size: 1.7rem;
	}
	#closeLightbox {
	  left: 75%;
	  top: 5%;
	}	
	header img {
		width: 290px;
	}
	#result-head-img {
		width: 115px;
	}
}

@media only screen and (min-width: 1280px) {
	#lightbox-content {
		width: 50%;
	}
	#lightbox-content h2 {
		font-size: 1.8rem;
	}
		#js-rating-container img.star {
		width: 6.5%;
	}
	#closeLightbox {
	  left: 71.5%;
	}	
	img#yummly-logo {
		width: 15% !important;
	}
	header img {
		width: 320px;
	}
	#result-head-img {
		width: 120px;
	}
}

@media only screen and (min-width: 1900px) {
	#lightbox-content {
		width: 40%;
	}
	#lightbox-content h2 {
		font-size: 2.5rem;
	}
	#js-rating-container img.star {
		width: 8%;
	}
	#lightbox-content img.star {
		width: 4%;
	}
	#closeLightbox {
		left: 67.75%;
    top: 3.6%;
	}	
	img#yummly-logo {
		width: 13% !important;
	}
	header img {
		width: 380px;
	}
	#result-head-img {
		width: 135px;
	}
}